# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
.pnpm-debug.log

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
coverage/
.coverage
htmlcov/
.pytest_cache/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Environment files
.env
.env.*

# Build / packaging
dist/
build/
*.egg-info/
.eggs/

# Logs
*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# JetBrains
.idea/

# Misc
*.iml
